{% extends "base.html" %}
{% load i18n %}
{%block body%}
    
<form class="share_post" enctype="multipart/form-data" id="share_post" method="post">
    {% csrf_token %}
    {{form.media}}
    {{ form.as_p }}
    <input type="hidden" name="redirect_to" value="user">
    <button id="share">{% trans "Share" %}</button>
</form>

    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'warning' %}
            <div id="alert" class="alert_warning">{{ message }}</div>
        {% else %}
            <div id="alertS" class="alert_success">{{ message }}</div>
        {% endif %}
    {% endfor %}
{% endif %}
    <ul id="posts">
        {% for post in posts %}
        
       
        <li class="post">
            <div class="head">
                <div class="header">
                    <a  href=""><div class="user_img"><img src="https://static.vecteezy.com/system/resources/previews/011/947/163/original/gold-user-icon-free-png.png" alt="user"><h4>{{post.author}}</h4></div></a>
                </div>
            
               <div class="post_options">
                        {% if post.author == request.user%}
                            <a href="{% url 'update' post.id%}"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="{% url 'delete' post.id%}"><i class="fa-solid fa-trash-can"></i></a>
                        {% endif%}
                    </div>
                
            </div>
                        <div class="post_about">
                            <h4 style="border-bottom:1px solid black"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
                            <p>{{post.content|truncatechars:200|safe}}</p>
                            <address>{{post.created_at}}</address>
                        </div>
        </li>
       
        {% endfor %}
    </ul>
{%endblock body%}